# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csproj.CoreCompileInputs.cache
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csproj.CoreCompileInputs.cache
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csprojAssemblyReference.cache
WebAPI/.vs/WebAPI/v16/.suo
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.pdb
WebAPI/.vs/WebAPI/DesignTimeBuild/.dtbcache.v2
WebAPI/.vs/WebAPI/v16/.suo
WebAPI/.vs/WebAPI/v16/.suo
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.pdb
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csprojAssemblyReference.cache
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csproj.CoreCompileInputs.cache
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.pdb
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/.vs/WebAPI/v16/.suo
WebAPI/.vs/WebAPI/v16/.suo
WebAPI/.vs/WebAPI/DesignTimeBuild/.dtbcache.v2
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csproj.CoreCompileInputs.cache
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csprojAssemblyReference.cache
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.pdb
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.pdb
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/.vs/WebAPI/v16/.suo
WebAPI/.vs/WebAPI/DesignTimeBuild/.dtbcache.v2
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csproj.CoreCompileInputs.cache
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csprojAssemblyReference.cache
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.pdb
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.pdb
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/.vs/WebAPI/v16/.suo
WebAPI/.vs/WebAPI/DesignTimeBuild/.dtbcache.v2
WebAPI/.vs/WebAPI/DesignTimeBuild/.dtbcache.v2
WebAPI/.vs/WebAPI/v16/.suo
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.pdb
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csproj.CoreCompileInputs.cache
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csprojAssemblyReference.cache
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.pdb
WebAPI/.vs/WebAPI/v16/.suo
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.pdb
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csprojAssemblyReference.cache
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.pdb
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csproj.CoreCompileInputs.cache
.gitignore
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.pdb
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.pdb
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/.vs/WebAPI/v16/.suo
WebAPI/WebAPI/obj/WebAPI.csproj.nuget.g.props
WebAPI/.vs/WebAPI/config/applicationhost.config
WebAPI/.vs/WebAPI/DesignTimeBuild/.dtbcache
WebAPI/.vs/WebAPI/v16/.suo
WebAPI/.vs/WebAPI/v16/Server/sqlite3/db.lock
WebAPI/.vs/WebAPI/v16/Server/sqlite3/storage.ide
WebAPI/.vs/WebAPI/v16/Server/sqlite3/storage.ide-shm
WebAPI/.vs/WebAPI/v16/Server/sqlite3/storage.ide-wal
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/appsettings.json
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.deps.json
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.exe
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.pdb
WebAPI/WebAPI/bin/Debug/netcoreapp3.1/WebAPI.runtimeconfig.dev.json
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.assets.cache
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csproj.CoreCompileInputs.cache
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csproj.FileListAbsolute.txt
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csprojAssemblyReference.cache
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.dll
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.exe
WebAPI/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.pdb
WebAPI/WebAPI/obj/project.assets.json
WebAPI/WebAPI/obj/project.nuget.cache
WebAPI/WebAPI/obj/WebAPI.csproj.EntityFrameworkCore.targets
WebAPI/WebAPI/obj/WebAPI.csproj.nuget.cache
WebAPI/WebAPI/obj/WebAPI.csproj.nuget.dgspec.json
WebAPI/WebAPI/obj/WebAPI.csproj.nuget.g.props
