.LandingPage{
    margin-top: 20px;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
    color: rgb(139, 139, 139);
}

.Container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.ReportBtn{
    margin-left: 7.5%;
    margin-top: 30px;
    width: fit-content;
    height: 45px;
    text-decoration: none;
    border: 2px solid rgb(131, 130, 130);
    padding: 10px;
    border-radius: 2px;
    color: black;
}

.ReportBtn:hover{
    cursor: pointer;
    background-color: silver;
}

@media (max-width:500px) {


    .ReportBtnContainer{
        margin-top: -75px;
    }

    .ReportBtn{
        margin-left: 7.5%;
        width: 35vw;
    }
}

