.Modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.719);
    z-index: 1;
}

.ModalContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ModalContent{
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: 5;
    /* left: 50%; 
    transform: translate(-50%, 0);
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    background-color: white; */
}