.IncidentBrowser{
    width: 100%;
    height: 100%;
}

.IncidentBrowser button{
    height: 100%;
    width: 10%;
}

.IncidentBrowser button:last-child{
    margin-left: auto;
}

.ButtonContainer{
    width: 100%;
    height: 5%;
    display: flex;
}

.RadioButtons{
    width: 100%;
    margin-left: 50px;
}

.Active{
    background-color: gray;
}



