.ImageQuote{
    width: 50%;
    text-align: center;
}


.ImageQuote img{
    margin: 25px 50px;
    width: 70%;
    border-radius: 5px;
}

.Quote{
    color: rgb(139, 139, 139);
    font-style: italic;
    width: fit-content;
    margin: auto;
    /* border-bottom: 1px solid rgb(139, 139, 139); */
}