.ImageQuote{
    width: 50%;
    text-align: center;
}


.ImageQuote img{
    width: 70%;
    border-radius: 5px;
}

.Quote{
    color: rgb(139, 139, 139);
    font-style: italic;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    /* border-bottom: 1px solid rgb(139, 139, 139); */
}

@media (max-width: 500px) {
    .ImageQuote{
        margin: auto;
        width: 70%;
        text-align: center;
    }
}