.LogIn{
    width: 30%;
    background-color: rgb(228, 227, 227);
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.LogInContent{
    width: 70%;
    margin: 0 auto;
}

.Container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.LogInbtn{
    background-color: rgb(3, 51, 51);
    width: 100%;
    height: 40px;
    color: white;
    margin-top: 18px;
    border-radius: 5px;
    border: none;
}

.LogInbtn:hover{
    border: 2px solid silver;
    cursor: pointer;
}

.LogInbtn:disabled{
    cursor: not-allowed;
    background-color: ghostwhite;
    color: gray
}


.ForgotPassword{
    display: inline-block;
    text-align: left;
    width: 100%;
    margin-top: 10px;
}

.GoogleBtn{
    background-color: #dd4b39;

}
.FacebookBtn{
    background-color: #3b5999;
}

.CreateAccount{
    display: inline-block;
    margin-top: 15px;
}